<header class="site-header header-style-3 topbar-transparent">
        
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="wt-topbar-left">
                    <div class="wt-topbar-left">
                           <ul class="list-unstyled e-p-bx pull-left">
                            <li><i class="fa fa-envelope" style="color:orange;"></i><a style="color:orange;" href="mailto:support@expertminingtrade.com ">support@expertminingtrade.com</a></li>
                            <li style="color:orange;"><i class="fa fa-phone" style="color:orange;"></i>‪ </li>
                        </ul>
                    </div>
                    
                    <div class="wt-topbar-right">
                        
                        
                        <ul class="list-unstyled e-p-bx pull-right">
                            <li style="color:orange;"><a style="color:orange;" href="/invest/login/"><i class="fa fa-user"></i>Login</a></li>
                            <li style="color:orange;"><a style="color:orange;" href="/invest/register/"><i class="fa fa-sign-in"></i>Register</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="sticky-header main-bar-wraper">
        <div class="main-bar">
            <div class="container">
                
                    <div class="logo-header mostion">
                        <a href="index.html">
                            <img src="images/blockstream.png " width="230" height="67" alt="">
                        </a>
                    </div>
                    
                    <!-- NAV Toggle Button -->
                    <button data-target=".header-nav" data-toggle="collapse" type="button" class="navbar-toggle collapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    
                   
                    
                    
                    <!-- MAIN Vav -->
                    <div class="header-nav navbar-collapse collapse ">
                    <ul class=" nav navbar-nav">
                        <li class="active">
                            <a href="/">Home<i class="fa fa-chevron-down"></i></a>
                              
                        </li>
                    
                        <li>
                            <a href="/about">About Us<i class="fa fa-chevron-down"></i></a>
                             
                                </li>

                        <li>
                            <a href="/invest/register/">Registration<i class="fa fa-chevron-down"></i></a>
                            
                        
                        <li>
                            <a href="/invest/login/">Log In<i class="fa fa-chevron-down"></i></a>
                            </li>
                        
                        <li class="#active">
                            <a href="/contact">Contact Us<i class="fa fa-chevron-down"></i></a>
                              
                        </li>
                        
                        
                        
                        
                    </ul>
                </div>

            </div>
        </div>
    </div>
    
</header>       