  

	<div class="page-wraper"> 
       	
          <!-- HEADER START -->
        <header class="site-header header-style-3 topbar-transparent">
        
            <div class="top-bar">
                <div class="container">
                    <div class="row">
                        <div class="wt-topbar-left">
                        	<div class="wt-topbar-left">
                           	    <ul class="list-unstyled e-p-bx pull-left">
                                    <li><i class="fa fa-envelope" style="color:orange;"></i><a style="color:orange;" href="mailto:support@blockforextrade24hrs.com ">support@blockforextrade24hrs.com </a></li>
                                    <li style="color:orange;"><i class="fa fa-phone" style="color:orange;"></i>‪ </li>
                                </ul>
                            </div>
                            
                        	<div class="wt-topbar-right">
                            	
                                
                        		<ul class="list-unstyled e-p-bx pull-right">
                                    <li style="color:orange;"><a style="color:orange;" href="invest/login/index.html"><i class="fa fa-user"></i>Login</a></li>
                                    <li style="color:orange;"><a style="color:orange;" href="invest/register/index.html"><i class="fa fa-sign-in"></i>Register</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="sticky-header main-bar-wraper">
                <div class="main-bar">
                    <div class="container">
                        
                            <div class="logo-header mostion">
                                <a href="index-2.html">
                                    <img src="images/blockstream.png" width="230" height="67" alt="">
                                </a>
                            </div>
                            
                            <!-- NAV Toggle Button -->
                            <button data-target=".header-nav" data-toggle="collapse" type="button" class="navbar-toggle collapsed">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            
                           
                            
                            
                            <!-- MAIN Vav -->
                            <div class="header-nav navbar-collapse collapse ">
                            <ul class=" nav navbar-nav">
                                <li class="active">
                                    <a href="index.html">Home<i class="fa fa-chevron-down"></i></a>
                                      
                                </li>
                            
                                <li>
                                    <a href="about-1.html">About Us<i class="fa fa-chevron-down"></i></a>
                                     
                                        </li>
 
								<li>
                                    <a href="invest/register/index.html">Registration<i class="fa fa-chevron-down"></i></a>
                                    
								
								<li>
                                    <a href="invest/login/index.html">Log In<i class="fa fa-chevron-down"></i></a>
                                    </li>
								
								<li class="#active">
                                    <a href="contact-1.html">Contact Us<i class="fa fa-chevron-down"></i></a>
                                      
                                </li>
								
								
								
                                
                            </ul>
                        </div>
        
                    </div>
                </div>
            </div>
            
        </header>        
            <!-- BREADCRUMB ROW END -->
             <div class="page-content">
            
            <!-- INNER PAGE BANNER -->
            <div class="wt-bnr-inr overlay-wraper" style="background-image:url(images/background/footer-bg.jpg);">
                <div class="overlay-main bg-black opacity-07"></div>
                <div class="container">
                    <div class="wt-bnr-inr-entry">
                        <h1 class="text-white">Contact Us</h1>
                    </div>
                </div>
            </div>
            <!-- INNER PAGE BANNER END --> 
                
            <!-- BREADCRUMB ROW -->                            
            <div class="bg-gray-light p-tb20">
                <div class="container">
                    <ul class="wt-breadcrumb breadcrumb-style-2">
                        <li><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
                        <li>Reach us </li>
                    </ul>
                </div>
            </div>  
            <!-- SECTION CONTENTG START -->
            <div class="section-full p-t80">
                <div class="container">
                    <!-- CONTACT DETAIL BLOCK -->
                    <div class="section-content ">
                        <div class="row">
                            <div class="wt-box text-center">
                                <h3 class="text-uppercase">Have any Questions?</h3>
                                <div class="wt-separator-outer m-b30">
                                    <div class="wt-separator bg-primary"></div>
                                </div>
                                <div class="row">
                              
                                    <div class="col-md-4 col-sm-12 m-b30">
                                        
                                    </div>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
            <!-- SECTION CONTENT END -->
            
            <!-- SECTION CONTENTG START -->
            <section class="contact-us section bg-gray" id="contact">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="title text-center">
						<p>Do you have a question or want to share your feedback with us?
<br>You are welcome to contact us in one of the following ways:</p>
					</div>
				</div>
			</div>
			<div class="row">
        
				<!-- Contact Form -->
				<div class="contact-form col-12 col-md-6  mx-auto">
          					<form id="contact-form" method="POST" action="#" role="form">
					    <div class="line"><span style="color:#ff0000"></span></div>
	<div class="line"><span style="color:#006600"></span></div>
	   
						<div class="form-group">
							<input type="text" placeholder="Your Name" class="form-control" value="" name="fname" id="name">
						</div>
						
						<div class="form-group">
							<input type="email" placeholder="Your Email" value="" class="form-control" name="email" id="email">
						</div>
						
						<div class="form-group">
							<input type="text" placeholder="Subject" value="" class="form-control" name="title" id="Subject">
						</div>
						
						<div class="form-group">
							<textarea rows="6" placeholder="Message" class="form-control" name="msg" class="contacts-area"></textarea>	
						</div>
						
						<span class="loaderIcon4"></span>
						
						<div id="cf-submit">
							<input type="submit" name="submit" id="contact_us" class="btn btn-transparent" value="Submit">
						</div>						
						
					</form>
				</div>
				<!-- ./End Contact Form -->

        <div class="col-md-6" style="border-left: 1px solid #ccc; padding-left: 5px;">
    <div class="platform_box">
          <i class="material-icons fa fa-map-marker"></i>
          <h6>Address</h6>
          <span>
            10 Chiswell Street, LondonUnited Kingdom, EC1Y 4XY  
          </span>
        </div>
        <div class="platform_box">
          <i class="material-icons fa fa-envelope"></i>
          <h6>Email Address</h6>
          <span>
            support@blockforextrade24hrs.com           </span>
        </div>
        <div class="platform_box">
          <i class="material-icons fa fa-phone"></i>
          <h6>Phone Number</h6>
          <span>
           ‪        </span>
        </div>
        </div>
			</div> <!-- end row -->
			
		</div> <!-- end container -->
	</section> <!-- end section -->

  <section>
                    <div>
                        <iframe src="https://maps.google.com/maps?q=2491%20Alluvial%20Ave,%20Clovis,%20CA%2093611,%20United%20States&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed" width="1500" height="500" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>                    </div>
                </section>
            <!-- SECTION CONTENT END -->            
            
        </div>
		 </div>
        <!-- CONTENT END -->

<script type='text/javascript' src='pop/js/jquery.js'></script>




<script>jQuery(document).ready(function() {var allowed_languages = ["af","sq","am","ar","hy","az","eu","be","bn","bs","bg","ca","ceb","ny","zh-CN","zh-TW","co","hr","cs","da","nl","en","eo","et","tl","fi","fr","fy","gl","ka","de","el","gu","ht","ha","haw","iw","hi","hmn","hu","is","ig","id","ga","it","ja","jw","kn","kk","km","ko","ku","ky","lo","la","lv","lt","lb","mk","mg","ms","ml","mt","mi","mr","mn","my","ne","no","ps","fa","pl","pt","pa","ro","ru","sm","gd","sr","st","sn","sd","si","sk","sl","so","es","su","sw","sv","tg","ta","te","th","tr","uk","ur","uz","vi","cy","xh","yi","yo","zu"];var accept_language = navigator.language.toLowerCase() || navigator.userLanguage.toLowerCase();switch(accept_language) {case 'zh-cn': var preferred_language = 'zh-CN'; break;case 'zh': var preferred_language = 'zh-CN'; break;case 'zh-tw': var preferred_language = 'zh-TW'; break;case 'zh-hk': var preferred_language = 'zh-TW'; break;default: var preferred_language = accept_language.substr(0, 2); break;}if(preferred_language != 'en' && GTranslateGetCurrentLang() == null && document.cookie.match('gt_auto_switch') == null && allowed_languages.indexOf(preferred_language) >= 0){doGTranslate('en|'+preferred_language);document.cookie = 'gt_auto_switch=1; expires=Thu, 05 Dec 2030 08:08:08 UTC; path=/;';var lang_html = jQuery('div.switcher div.option').find('img[alt="'+preferred_language+'"]').parent().html();if(typeof lang_html != 'undefined')jQuery('div.switcher div.selected a').html(lang_html.replace('data-gt-lazy-', ''));}});</script><div id="notification-1" class="notification"><div class="notification-close">&times;</div><div class="notification-block"><div class="notification-img"><span class="fas fa-donate"></span></div><div class="notification-text-block"><div class="notification-title"></div><div class="notification-text"></div></div></div></div>


<link rel='stylesheet' id='mwp-herd-effect-animate-css' href='pop/css/animate.min.css' type='text/css' media='all'>
	<link rel='stylesheet' id='mwp-herd-effect-fontawesome-css' href='pop/css/all.min.css' type='text/css' media='all'>
<link rel='stylesheet' id='mwp-herd-effect-css' href='pop/css/style.min.css' type='text/css' media='all'>
<style id='mwp-herd-effect-inline-css' type='text/css'>
#notification-1 { top: 10%;right: 10%; border-radius: 0; box-shadow: none; } #notification-1 .notification-close { font-size: 24px; color: #ffffff; } #notification-1 .notification-img{ width: 60px; background: rgba(0,0,0,0.75); border-radius: 0 0 0 0; border-top: none; border-bottom: none; border-left: none; } #notification-1 .notification-img img { width: 40pxpx; } #notification-1 .notification-img span { font-size: 40px; color: #ffffff; } #notification-1 .notification-text-block { background: rgba(0,0,0,0.75); width: 200px; height: auto; border-radius: 0 0 0 0; border-top: none; border-bottom: none; border-right: none; } #notification-1 .notification-title { font-family: inherit; font-size: 16px; font-weight: bolder; font-style: normal; line-height: 32px; text-align: left; color: #ffffff; } #notification-1 .notification-text { font-family: inherit; font-size: 14px; line-height: 18px; color: #ffffff; }
</style>




<script type='text/javascript' src='pop/js/script.min.js'></script>
<script type='text/javascript'>
eval(function(p,a,c,k,e,d){e=function(c){return(c<a?'':e(parseInt(c/a)))+((c=c%a)>35?String.fromCharCode(c+29):c.toString(36))};if(!''.replace(/^/,String)){while(c--){d[e(c)]=k[c]||e(c)}k=[function(e){return d[e]}];e=function(){return'\\w+'};c=1};while(c--){if(k[c]){p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c])}}return p}('(a0($){$("#3F-1").3E({3D:["3C","3B","i","3A","3z","3x","3q","3w","3v","3u","3t","3s","3r","3G","3y","3H","3S","3Z","3Y","3X","3W","3V","3U","3T","3R","3J","3Q","3P","3O","3N","3M","3L","3K","3I","3o","36","3n","33","32","31","30","2Z","2Y","2X","2V","2O","2U","2T","2S","2R","2Q","2P","34","2W","35","3f","3m","3l","3k","3j","3i","3h","3g","3e","37","3d","3c","3b","3a","39","38","40","3p","41","4E","4U","e","4T","4S","4R","4Q","4P","4O","4M","4F","4L","4K","4J","4I","4H","4G","4V","4N","4W","57","5e","5d","5c","5b","5a","59","58","56","4Y","55","54","53","52","51","50","4Z","4X","4D","4l","4C","4i","4h","4g","4f","4e","4d","4c","4a","43","49","48","47","46","45","44","4j","4b","4k","4u","4B","4A","4z","4y","4x","4w","4v","4t","4m","4s","2M","4q","4p","4o","4n","42","2N","2o","2L","18","17","16","15","14","13","12","10","S","Z","Y","X","W","V","U","T","19","11","1a","1l","1t","1s","1r","1q","1p","1o","1n","1m","1k","1c","1j","1i","1h","1g","1f","Q","1d","1b","R","O","P","v","u","t","s","r","b","q","o","m","k","j","w","n","y","H","x","N","M","L","K","J","I","G","z","F","E","D","c","f","C","B","A","1u","1e","1w","29","2q","2p","1v","2n","2m","2l","2k","2i","2a","2h","2g","2f","2e","2d","2c","2b","2r","2j","2s","2D","2K","2J","2I","2H","2G","2F","2E","2C","2u","2B","2A","2z","2y","2x","2w","2v","2t","28","1P","27","1M","1L","1K","1J","1I","1H","1G","1E","1x","1D","1C","1B","1A","1z","1y","1N","1F","1O","1Z","26","25","24","23","22","21","20","1Y","1Q","1X","1W","1V","1U","1T","1S","1R","5f","4r","5h","68","8z","8y","8x","8w","5g","8v","8u","8t","8r","8k","8q","8p","8o","8n","8m","8l","8A","8s","8B","8L","8S","8R","8Q","8P","8O","8N","8M","8K","8D","8J","8I","8H","8G","8F","8E","8C","8i","80","8h","7X","7W","7V","7U","7T","7S","7Q","7J","7P","7O","7N","7M","7L","7K","7Y","7R","7Z","89","8g","8f","8e","8d","8c","8b","8a","88","81","87","86","85","84","83","8U","8T","8j","8V","9b","9N","9M","9L","9K","9J","9I","9H","9F","9y","9E","9D","9C","9B","9A","9P","9O","9G","9Q","9R","a7","a6","a5","a4","a3","a2","a1","9Z","9Y","9X","9W","9V","9U","9T","9S","9z","9x","9e","9v","9w","9a","99","98","97","96","95","93","8W","92","91","90","8Z","8Y","8X","9c","94","9d","9n","9u","9t","9s","9r","9q","9p","9o","9m","9f","9l","9k","9j","9i","9h","9g","82","7I","6u","7G","7H","67","66","65","64","63","62","60","5T","5Z","5Y","5X","5W","5V","5U","69"],61:["d 6a","6k 6r","6q ","6p ","6o ","6n ","2 c ","2 6m ","6l ","2 6j ","6c ","6i ","6h","2 6g ","6f ","f ","6e ","g 6d ","6b ","5R ","5z 5Q ","5w ","5v ","5u ","5t ","5s ","5r/5p 5i ","5o 5n ","5m-5l ","5k 6 ","5j ","5x ","5q ","5y ","5I h ","5P ","5O ","5N ","5M 6 ","5L ","5K h ","5J ","5H ","5A ","5G ","5F ","5E ","5D 5C ","9 ","5B ","6s ","8. b ","5S 6t ","76 ","7m ","7l ","7k ","7j ","7i ","7h ","7g ","7e ","77 7d ","7c ","7b","7a ","8. i ","79-78","7n ","g e ","8. 7f ","a ","7o 6 ","7y ","7F ","7E ","7D ","7C ","7B 7A ","7z ","7x ","7q ","d 7w ","7v ","7u ","7t ","7s ","7r ","7p 75 ","6N ","74 ","6K ","6J ","6I ","6H ","6G ","6F ","6E ","9","a"],6C:[""],6v:[""],6B:[""],6A:[6z,6y],6x:"<p>[6w] 6L [6D] 6M 6W 73 $[72] 71 70.</p>",6Z:["6Y",5,0],6X:7,6V:"6O",6U:"6T",6S:3,6R:[4,"","6Q",4],6P:4,})})(l)',62,628,'||San||false||City||St|Arlington|Glendale|Louis|Antonio|New|Wayne|Austin|Fort|Beach|Paul|Sandy|Ralph|jQuery|Noel|Alun|Neill||Mohammad|Damien|Clive|Billy|Warren|Toby|Albert|Eoin|Brett|Robbie|Darrin|Cornelius|Bradley|Aidan|Stanley|Roland|Oliver|Clifford|Neal|Kevan|Johnathan|Ivor|Imran|Glyn|Scot|Stefan|Dennis|Nairn|Magnus|Mohammed|Kerr|Karl|Gregg|Frederick|Finlay|Crawford|Lawrence|Victor|Laurence|Guy|Frazer|Phillip|Evan|Drew|Denis|Rodney|Carl|Leonard|Murdo|Elliot|Innes|Darran|Clark|Allister|Steve|Nicolas|Maurice|Daryl|Lorne|Leigh|Kyle|Ivan|Grahame|Erik|Edwin|Don|Derrick|Nicol|Kristian|Juan|Marvin|Manus|Lyall|Luke|Kieron|Kerry|Jan|Muir|Gideon|Derick|Daren|Archie|Andrea|Ali|Alex|Morgan|Myles|Tommy|Alain|Aynsley|Austen|Arron|Arran|Anton|Alvin|Alec|Aftab|Ronnie|Wallace|Torquil|Struan|Stephan|Spencer|Rupert|Rowan|Wai|Seumas|Lachlan|Gilbert|Roddy|Omar|Marco|Leighton|Kelvin|Jay|Giles|Forbes|Abdul|Findlay|Brent|Tony|Shane|Nigel|Moray|Mathew|Tom|Alfred|Rodger|Jody|Ray|Ramsay|Muhammad|Marshall|Kris|Kirk|Kieran|Hector|Alick|Harvey|Harold|Eugene|Darryl|Conrad|Bryce|Ashley|Alisdair|Dale|Martyn|Jonathan|Edward|Daniel|Stewart|Joseph|Nicholas|Gavin|Ross|Donald|Grant|Anthony|Lee|Keith|Douglas|Simon|Allan|Matthew|Fraser|George|Ryan|Marc|Bryan|Alastair|Patrick|Bruce|Francis|Ewan|Garry|Ronald|Philip|Raymond|Alistair|Duncan|Charles|Malcolm|Kenneth|Graham|Hugh|Scott|Michael|Craig|William|Stephen|Robert|Steven|Andrew|Christopher|James|Mark|John|David|Variable1|Notification|notification|Stuart|Alan|Darren|Barry|Peter|Graeme|Alexander|Gordon|Iain|Jason|Ian|Neil|Colin|Thomas|Martin|Derek|Richard|Gary|Kevin|Brian|Jamie|Euan|Allen|Arthur|Jeffrey|Gregory|Owen|Jon|Ewen|Dominic|Roger|Damian|Fergus|Antony|Rory|Lewis|Christian|Vincent|Trevor|Terry|Geoffrey|Leslie|Nathan|Leon|Julian|Glenn|Dylan|Chad|Alister|Jeremy|Harry|Blair|Archibald|Aaron|Jack|Desmond|Bernard|Walter|Lindsay|Greg|Gerard|Cameron|Eric|Dean|Gareth|Murray|Norman|Roderick|Russell|Gregor|Angus|Greig|Robin|Alasdair|Calum|Adam|Sean|Adrian|Samuel|Terence|Timothy|Brendan|Liam|Barrie|Niall|Hamish|Marcus|Glen|Roy|Gerald|Frank|Campbell|Callum|Shaun|Benjamin|Justin|Henry|Benedict|Deryck|Chun|County|Portland|Oklahoma|Davidson|Nashville|Vegas|Las|Jefferson|Albuquerque|Louisville|Denver|Milwaukee|Washington|Seattle|Boston|Tucson|Atlanta|El|Oakland|Wichita|Springs|Colorado|Minneapolis|Honolulu|Tulsa|Miami|Long|Omaha|Virginia|Cleveland|Kansas|Mesa|Sacramento|Fresno|Paso|Charlotte|Santa|Yan|Adebayo|Abraham|Abdulrazak|Abdullahi|Aamir|Zak|Wilson|Variable2|Wei|Waseem|Waheed|Vince|Vernon|Tristan|Clarke|Adel|York|Baltimore|Detroit|Worth|Memphis|Columbus|Francisco|Indianapolis|Jacksonville|Jose|Los|Dallas|Diego|Philadelphia|Phoenix|Houston|Chicago|Angeles|Raleigh|Ana|Tin|Variable4|variable1|Content|7500|1000|Amount|Variable5|Variable3|variable2|Shreveport|Fremont|Montgomery|Modesto|Rochester|Durham|Akron|from|has|Lubbock|bounceIn|CloseButton|_self|Link|Number|bounceOut|AnimationEffectClose|AnimationEffectOpen|just|Close|stable|Show|ago|minutes|amount|earned|Reno|Vista|Anaheim|Corpus|Fayette|Lexington|Buffalo|Anchorage|Newark|Christi|Stockton|Petersburg|Riverside|Toledo|Aurora|Bakersfield|Pittsburgh|Cincinnati|Tampa|Plano|Jersey|Chula|Madison|Laredo|Hialeah|Garland|Orlando|Chesapeake|Orleans|Norfolk|Lincoln|Birmingham|Rouge|Baton|Scottsdale|Greensboro|Chandler|Henderson|Tomas|Travis|Taylor|Ashok|Bryn|Brydon|Brandon|Bjorn|Atholl|Asif|Andre|Calvin|Anderson|Alyn|Alessandro|Ajay|Ainslie|Aiden|Caine|Carlo|Adnan|Darin|Sonny|Donovan|Dirk|Deryk|Darroch|Dario|Damion|Ceri|Cyril|Connell|Clint|Clayton|Claudio|Christien|Chris|Aeneas|Abid|Edgar|Keiron|Mario|Lloyd|Laurie|Kristofer|Khalil|Kennedy|Johnston|Maxwell|Jacob|Edmund|Edmond|Declan|Darron|Danny|Damon|Max|Mitchell|Todd|Riccardo|Tobias|Symon|Stefano|Ruaridh|Ruaraidh|Roberto|Reuben|Morris|Rennie|Quentin|Piers|Nickolas|Neville|Naveed|Nathaniel|Eamonn|Dustin|Elliott|Nathanael|Paolo|Nikolas|Nikki|Nicky|Nickie|Neall|Murdoch|Ranald|Mungo|Mubarak|Michel|Mervyn|Mason|Lyle|Elton|Perry|Rehan|Lindsey|Sam|Sinclair|Sidney|Shakeel|Shahid|Seth|Scotland|Rowland|Ricky|Ronan|Rolf|Roderic|Robertson|Rizwan|Ritchie|Rikki|Logan|Lorn|Leyton|Giancarlo|Leo|Hendry|Hans|Hamilton|Grierson|Gidon|Gerry|Jaimie|Gerrard|Geoff|Garth|Farooq|Erlend|Eoghan|Emlyn|Irvine|Howard|Jarad|Jayson|Lauchlan|Laith|Kwok|Kent|Kendon|Keiran|Kashif|Karim|function|Karan|Kane|Jude|Joel|Jerome|Jeff|Jean'.split('|'),0,{}))
</script>
		


<!-- FOOTER START -->
        <footer class="site-footer footer-dark bg-no-repeat bg-full-height bg-center " style="background-image:url(images/background/footer-bg.jpg);">
            <!-- FOOTER BLOCKES START -->  
            <div class="footer-top overlay-wraper">
                <div class="overlay-main bg-black opacity-05"></div>
                <div class="container">
                    <div class="row">
                        <!-- ABOUT COMPANY -->
                        <div class="col-md-3 col-sm-6">  
                            <div class="widget widget_about">
                                <h4 class="widget-title text-white">About Company</h4>
                                <div class="logo-footer clearfix p-b15">
                                    <a href="index-2.html"><img src="images/blockstream.png" width="230" height="67" alt=""></a>
                                </div>
                                <p>
                                </p>  
                            </div>
                        </div> 
                        <!-- RESENT POST -->
                       
                        
                        
                            
                        </div>
                    </div>
                    <div class="row">
                    
                       <div class="col-md-3 col-sm-6  p-tb20">
                           <div class="wt-icon-box-wraper left  bdr-1 bdr-gray-dark p-tb15 p-lr10 clearfix">
                                <div class="icon-md text-primary">
                                    <span class="iconmoon-travel"></span>
                                </div>
                                <div class="icon-content text-white">
                                    <h5 class="wt-tilte text-uppercase m-b0">Address</h5>
                                    <p> 
10 Chiswell Street, LondonUnited Kingdom, EC1Y 4XY </p>
                                </div>
                           </div>
                        </div>
                       <div class="col-md-3 col-sm-6  p-tb20 ">
                           <div class="wt-icon-box-wraper left  bdr-1 bdr-gray-dark p-tb15 p-lr10 clearfix ">
                                <div class="icon-md text-primary">
                                    <span class="iconmoon-smartphone-1"></span>
                                </div>
                                <div class="icon-content text-white">
                                    <h5 class="wt-tilte text-uppercase m-b0">Phone</h5>
                                    <p class="m-b0">‪ </p>
                                    <p></p>
                                </div>
                           </div>
                       </div>
                       <div class="col-md-3 col-sm-6  p-tb20">
                           <div class="wt-icon-box-wraper left  bdr-1 bdr-gray-dark p-tb15 p-lr10 clearfix">
                                <div class="icon-md text-primary">
                                    <span class="iconmoon-fax"></span>
                                </div>
                                <div class="icon-content text-white">
                                    <h5 class="wt-tilte text-uppercase m-b0">Official Website</h5>
                                    <p class="m-b0">https://blockforextrade24hrs.com/ </p>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                       <div class="col-md-3 col-sm-6 p-tb20">
                           <div class="wt-icon-box-wraper left  bdr-1 bdr-gray-dark p-tb15 p-lr10 clearfix">
                                <div class="icon-md text-primary">
                                    <span class="iconmoon-email"></span>
                                </div>
                                <div class="icon-content text-white">
                                    <h5 class="wt-tilte text-uppercase m-b0">Email</h5>
                                    <p class="m-b0">support@blockforextrade24hrs.com </p>
                                    <p></p>
                                </div>
                            </div>
                        </div>

                  </div>
                </div>
            
            <!-- FOOTER COPYRIGHT -->
            <div class="footer-bottom  overlay-wraper">
                <div class="overlay-main"></div>
                <div class="constrot-strip"></div>
                <div class="container p-t30">
                    <div class="row">
                        <div class="wt-footer-bot-left">
                            <span class="copyrights-text">© 2009 Block Forex Trade </span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- FOOTER END -->

        
        <!-- BUTTON TOP START -->
        <button class="scroltop"><span class=" iconmoon-house relative" id="btn-vibrate"></span>Top</button>
        <!-- MODAL  REGISTER -->
 

 